.navbar-custom {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card {
    position: relative;
    flex: 1 1 100%;
    margin: 31px 0;
    padding: 20px;
    background: white;
}

@media screen and (min-width: 768px) {
    .card {
        flex-basis: calc(33.33% - (62px + 40px));
        margin: 0 31px;
    }
}

.card__desc {
    margin-top: 20px;
}

.card__one {
    transition: transform .5s;
}

.card__one::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    content: '';
    opacity: 0;
    z-index: -1;
}

.card__one:hover,
.card__one:focus {
    transform: scale(1.3);
}

.card__one:hover::after,
.card__one:focus::after {
    opacity: 1;
}
